@import "modules/modules";

.container {
  @include grid(2, 3, 5, 16px);
  .box {
    width: 80px;
    height: 80px;

    &:nth-child(even) {
      background: red;
    }
    &:nth-child(odd) {
      background: blue;
    }
  }
}
